/************** MAIN ELEMENTS ***************/
html, body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	
	background: url("../img/background.jpeg");
	background-size: cover;
}

#wrapper{
	width: 100%;
}

#box{
	margin: 10% auto 0px;
	width: 70%;
	max-width: 800px;
	height: auto;
	background: rgba(255,255,255,0.85);
	padding: 40px 40px;
	text-align: center;
}

#header{
	
}
#header img{
	width: 200px;
}
#subheader1{
	margin-top: 20px;
	font-weight: 300;
	font-size: 14pt;
	line-height: 40px;
	
}
#subheader2{
		margin-top: 20px;
	font-weight: 700;
	font-size: 11pt;
	line-height: 30px;
}
#footer_text{
		margin-top: 20px;
	font-weight: 700;
	font-size: 10pt;
	line-height: 30px;
}
#mail_form{
	margin-top: 20px;
}

input#email{
	border: none;
	background: white;
	box-shadow: none;
	font-weight: 300;
	height: 30px;
	width: 260px;
	padding: 5px 0px 5px 10px;
	border-radius: 0px;
}
#mail_form button{
	border: none;
	background: #4a4a4a;
	box-shadow: none;
	text-shadow: none;
	color: white;
	font-weight: 300;
	height: 40px;
	padding: 10px 20px;
	-webkit-transition:background 0.25s ease-in;  
	-moz-transition:background 0.25s ease-in;  
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in;
		border-radius: 0px;

}
#mail_form button:hover{
	background: #3d3d3d;
	-webkit-transition:background 0.25s ease-in;  
	-moz-transition:background 0.25s ease-in;  
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in; 
}
label.error, #error{
	font-size: 10pt;
	opacity: 0.8;
	padding: 0px;
	line-height: 10px;
}
label.error:hover{
	cursor: default;
}
/*********** RESPONSIVE **********/


@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	

}

@media (max-width: 767px) {
	
input#email{
	width: 200px !important;
}
#mail_form button{

}
}

@media (max-width: 568px) {
	input#email{
	width: 150px !important;
	font-size: 8pt;
	}
	#mail_form button{
	
	}
}
